body {
    margin: 0;
}

#page-wrapper {
    background-color: lightyellow;
    width: 1000px;
    margin: 0 auto;
}

header {
    position: relative;
    /* Para que el user menu sea absoluto respecto al header, sino el menu se iría abajo de la ventana */
}

#logo {
    margin: 0;
    width: 350px;
    height: 90px;
    background-color: lightgreen;
}

#user-menu {
    margin: 0;
    position: absolute;
    top: 65px;
    right: 0;
    width: 150px;
    height: 25px;
    text-align: right;
}

#user-menu li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
}

#user-menu li:first-child {
    border-right: 1px solid black;
}

#header-navigation {
    background-color: red;
}

#header-navigation ul {
    padding: 0;
    margin: 0;
}

#header-navigation li {
    display: inline-block;
    padding: 5px 20px;
}

#header-navigation li:hover {
    background-color: #fc0;
}

#main-content {
    position: relative;
    padding-right: 250px;
}

.news-item {
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: top;
    height: 400px;
    width: 220px;
    margin: 5px;
}

.news-item img {
    width: 200px;
}

#right-column {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    background-color: #14f5ca;
}
